PORT=8000
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/EduConnect?retryWrites=true&w=majority"
JWT_SECRET="YOUR_JWT_SECRET"
NODE_ENVIRONMENT="development"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# WebRTC STUN & TURN Configuration
STUN_SERVERS="stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302,stun:stun2.l.google.com:19302"
TURN_SERVERS=""
TURN_USERNAME=""
TURN_CREDENTIAL=""
